* {
	--lightShade: #CCC;
}

html, body, body > #root, .App, .frame {
	height: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-image: url("grid.png");
}

header.top-bar {
  position: sticky;
	top: 0;
	min-height: 4rem;
	z-index: 1;
	/* box-shadow: 0 1rem 1rem rgba(0,0,0,0.125); */
}

header.top-bar .logo {
	padding: 1rem;
}

header.top-bar .bar .spacer {
	flex: 1;
}

span.icon {
	display: inline-block;
	background-image: url('user.svg');
	background-size: contain;
	width: 1rem;
	height: 1rem;
}

.frame {
	position: relative;
	flex: 1;

	background: repeating-linear-gradient(
		45deg,
		rgba(255,255,255,0.95),
		rgba(255,255,255,0.25) 10%,
		rgba(255,255,255,0.95) 20%
	);

	background-size: 100% 5000px;

	background-attachment: local;
}

.top-loader + .bottom-loader {
	display: none;
}

.bottom-bar {
	position: relative;
	min-height: 4rem;
	flex-direction: row;
}

header.top-bar .bar,
.bottom-bar .bar {
	position: absolute;
	bottom:   0;
	top:      0;
	left:     0;
	right:    0;
	z-index: 1;

	display:         flex;
	align-items:     center;
	justify-content: center;

	background-color: var(--lightShade);
	background-image: url("grid-glass.png");
}

.bottom-bar button {
	background-color: #333;
	border: none;
	border-radius: 50%;
	font-size: 2rem;
	width: 1.75em;
	height: 1.75em;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
}

button.close {
	width: 1.5rem;
	height: 1.5rem;
	background-color: transparent;
	border: none;
	background-image: url("x.svg");
	background-size: contain;
	position: absolute;
	top:   0.5rem;
	right: 0.5rem;
}

.fill {
	position: relative;
	flex: 1;
}

.edit-profile,
.profile {
	margin: auto;
	width: 450px;
}

.profile h1 {
	display: flex;
	align-items: center;
}

.avatar {
	width: 2em;
	height:2em;
	object-fit: cover;
	border-radius: 50%;
}

.profile h1 .avatar {
	margin-right: 1rem;
}

header .logo a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
}

header .logo-glyph {
	width: 3rem;
	height: 3rem;
	background-image: url("arrows.svg");
	background-size: contain;
	display: inline-block;
	margin-right: 0.25rem;
}

header .logo-text {
	font-size: 1.5rem;
	font-weight: bold;
	color: black;
}

ul:empty {
	display: none;
}
