.hamburger-button {
	position: relative;
	width: 1.75rem;
	height: 1.75rem;
	margin: 0.5rem;

	display: inline-block;

	transform: scaleX(-1);
}

.hamburger-button .burger-bar {
	background-color: white;
	width: 100%;
	height: 0.3rem;
	position: absolute;
	transition: transform 0.2s ease-in, width 0.2s ease-in;
}

.hamburger-button .burger-bar:nth-child(1) {
	transform-origin: 0.15rem 0.15rem;
}

.hamburger-button .burger-bar:nth-child(2) {
	top:50%;
	transform: translateY(-50%);
	transform-origin: 50% 50%;
}

.hamburger-button .burger-bar:nth-child(3) {
	bottom: 0;
	transform-origin: 0.15rem 0.15rem;
}

.hamburger-button[data-open=true] .burger-bar:nth-child(1) {
	transform: rotate(45deg);
	width: 135%;
}

.hamburger-button[data-open=true] .burger-bar:nth-child(2) {
	top:50%;
	transform: translateY(-50%) rotate(calc( 90deg + 45deg ));
}

.hamburger-button[data-open=true] .burger-bar:nth-child(3) {
	transform: rotate(-45deg);
	width: 135%;
}
