.centered {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   text-align: center;
}

.spacer {
  flex:1;
}

.spacer-50 {
  max-height: 33%;
}
