.videos {
  position: absolute;
  bottom:   0;
  top:      0;
  left:     0;
  right:    0;

  scrollbar-gutter: stable;

  overflow-y: scroll;
  overflow-y: overlay;
  scroll-snap-type: y mandatory;
}

.frame .video {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  max-width: 450px;
  margin: auto;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.frame .videos .loader {
  background-image: url(spin.svg);
  background-position: center;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.75;
  filter: invert(1);
  min-height: 50%;
}

.frame .videos[data-refreshing="false"] .bottom-loader {
  scroll-snap-align: start;
}

.frame .video video {
  object-fit: cover;
  background: black;
  /* height: 100%; */
  flex: 1;
  max-width: 100%;
  min-width: 418px;
  overflow: hidden;
  margin: auto;
  box-sizing: border-box;
  border-radius: 9px;
}

.frame .video .sub-video {
  display: flex;
  flex-direction: column;
  /* min-height: 5rem; */
}

.frame .video .caption {
  word-break: break-word;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  min-height: 2rem;
  margin-top: 0.5rem;
  padding: 1rem 0;
}

.frame .video .attribution {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.frame .video a.attribution {
  text-decoration: none;
  color: inherit;
}

.user-avatar-slot {
  display: inline-block;
  background-image: url('user.svg');
  background-size: contain;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-color: #CCC;
  border-radius: 50%;
  background-size: 75%;
  background-position: center;
  border: 1px solid #999;
  margin-right: 0.5rem;
  position: relative;
  overflow: hidden;
}

.user-avatar-slot img {
  position: absolute;
  top:      0;
  left:     0;
  width:    100%;
  height:   100%;
  object-fit: cover;
  background-color: #CCC;
}

.video .end-brow {
  text-align: right;
  margin-top: 0.65rem;
}

.video .end-brow,
.video .end-brow button {
  font-size: 1rem;
}

.video-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
}

.video-list-item {
  width: 33%;
  padding: 0.25rem;
  height: 8rem;
  overflow: hidden;
  box-sizing: border-box;
}

.video-list-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video form {
  box-sizing: border-box;
  /* width: 100%; */
}

.video [data-editing="false"] .caption-edit {
  display: none;
}

.video [data-editing="true"] .caption-view {
  display: none;
}

.video form .row > * {
  margin-left: 1rem;
}

.caption-view:empty {
  display: none;
}

.sub-video[data-editing="false"] .caption:has( .caption-view:empty ) {
  display: none;
}

.caption-edit {
  width: 100%;
}
